In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\miniconda\envs\py38_default\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\miniconda\envs\py38_default\lib\site-packages (from pymongo) (2.3.0)

In [6]:
## Import libraries
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [7]:
## Connect to the MONGO DB Instance

host_name = "localhost"
port = "27017"
atlas_cluster_name = "cluster0.0zywi.mongodb.net"
atlas_default_dbname = "test"
atlas_user_name = "ds2002"
atlas_password = "UVA!1819"

In [10]:
conn_str = {
  #  "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

#print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

ConfigurationError: The DNS query name does not exist: _mongodb._tcp.cluster0.0zywi.mongodb.net.

In [ ]:
client.list_database_names()
db = client['sample_restaurants']
restaurants1 = client.sample_restaurants
restaurants = db.restaurants

In [9]:
## import and preview dataframe
from pandas.io.json import json_normalize
datapoints = list(db.restaurants.find({}))
df = json_normalize(datapoints)
df.head()

NameError: name 'db' is not defined

In [ ]:
fact_table_cols  = ['_id', 'borough', 'cuisine', 'name', 'grades', 'address.zipcode', 
         'address.coord'
     ]
fact_table_df = df[fact_table_cols]

In [ ]:
rating_cols = ['_id','name', 'grades'
              ]
rating_df = df[rating_cols]

In [2]:
# Importing CSV File

In [3]:
url = 'https://raw.githubusercontent.com/hnl2vnv/DS-2002-Project/main/fruitvegprices-2017_2022.csv'
fvprices = pd.read_csv(url,index_col=0)

NameError: name 'pd' is not defined

In [ ]:
fvitem = ['apples', 'cabbage','onion', 'carrots','lettuce','brussels_sprouts', 'cucumbers,','pears'
             ]
fvprices_df =  fvprices[fvprices['item'].isin(fvitem)]

In [4]:
### Creating SQL Database
#!pip install PyMySQL
#!pip install mysql-connector-python
#!pip install sqlalchemy
import os
import pymysql
import mysql.connector
from getpass import getpass
from mysql.connector import connect, Error
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [5]:
host_name = "127.0.0.1"
user_id = "ds2002"
pwd = "UVA!1819"
db_name = "restaurants1"

In [13]:
try:
    with connect(
        host=host_name,
        user=user_id,
        password=pwd,
    ) as connection:
        create_db_query = "CREATE DATABASE restaurants1"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

1007 (HY000): Can't create database 'restaurants1'; database exists

In [14]:
try:
    with connect(
        host=host_name,
        user=user_id,
        password=pwd,
        database="restaurants1",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CD4022D310>

In [15]:
create_dim_date = """
CREATE TABLE IF NOT EXISTS dimension_date(
 date_key int NOT NULL,
 full_date date NULL,
 date_name char(11) NOT NULL,
 date_name_us char(11) NOT NULL,
 date_name_eu char(11) NOT NULL,
 day_of_week tinyint NOT NULL,
 day_name_of_week char(10) NOT NULL,
 day_of_month tinyint NOT NULL,
 day_of_year smallint NOT NULL,
 weekday_weekend char(10) NOT NULL,
 week_of_year tinyint NOT NULL,
 month_name char(10) NOT NULL,
 month_of_year tinyint NOT NULL,
 is_last_day_of_month char(1) NOT NULL,
 calendar_quarter tinyint NOT NULL,
 calendar_year smallint NOT NULL,
 calendar_year_month char(10) NOT NULL,
 calendar_year_qtr char(10) NOT NULL,
 fiscal_month_of_year tinyint NOT NULL,
 fiscal_quarter tinyint NOT NULL,
 fiscal_year int NOT NULL,
 fiscal_year_month char(10) NOT NULL,
 fiscal_year_qtr char(10) NOT NULL,
  PRIMARY KEY (`date_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
"""

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_dim_date)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

In [16]:
create_rating_table_query = """
CREATE TABLE IF NOT EXISTS ratings (
  _id INT PRIMARY KEY,
  name VARCHAR(255),
  grades VARCHAR(255)
)
"""
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_rating_table_query)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

In [17]:
create_fvitem_table_query = """ 
CREATE TABLE IF NOT EXISTS item (
  apples VARCHAR(255),
  cabbage VARCHAR(255),
  onion   VARCHAR(255),
  carrots VARCHAR(255),
  lettuce VARCHAR(255),
  brussels_sprouts VARCHAR(255),
  cucumbers VARCHAR(255),
  pears VARCHAR(255)
)
 """
    
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_fvitem_table_query)
    cursor.close()
    
except Error as e:
    print (e)

In [18]:
create_restaurants_table_query = """
CREATE TABLE IF NOT EXISTS restaurants (
  _id INT PRIMARY KEY,
  borough VARCHAR(255),
  cuisine VARCHAR(255),
  listing_name VARCHAR(255),
  grades ,
  address_zipcode VARCHAR(255),
  address_coord VARCHAR(255),
  FOREIGN KEY (_id) REFERENCES ratings (_id)
)
"""

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_restaurants_table_query)
    cursor.close()
    
except Error as e:
    print (e)
    
conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',\n  address_zipcode VARCHAR(255),\n  address_coord VARCHAR(255),\n  FOREIGN KEY (_' at line 6")

In [ ]:
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
# create cursor
cursor=conn.cursor()


# print(rating_df)
# print(str(i) for i in rating_df.columns.tolist())

# creating column list for insertion
cols = ",".join([str(i) for i in rating_df.columns])
print(type(cols))

# Insert DataFrame recrds one by one.
for i,row in rating_df.iterrows():
    print(row)
    sql = "INSERT INTO ratings (" +cols + ") VALUES (row)"
    cursor.execute(sql, tuple(row))

    conn.commit()

In [19]:
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
# create cursor
cursor=conn.cursor()

# creating column list for insertion
cols = ",".join([str(i) for i in fvprices_df.columns.tolist()])

# Insert DataFrame records one by one.
for i,row in fvprices_df.iterrows():
    sql = "INSERT INTO fvitem (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    conn.commit()

ProgrammingError: (1146, "Table 'restaurants1.fvitem' doesn't exist")

In [20]:
checks = """
SET GLOBAL FOREIGN_KEY_CHECKS=0
"""

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(checks)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

In [22]:
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
# create cursor
cursor=conn.cursor()

# creating column list for insertion
cols = ",".join([str(i) for i in fact_table_df.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in fact_table_df.iterrows():
    sql = "INSERT INTO fact_table_cols (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s) ON DUPLICATE KEY UPDATE id=id" 
    cursor.execute(sql, tuple(row))

    conn.commit()

TypeError: sequence item 0: expected str instance, dict found